@import '../lib/mixins';
@import '../lib/var';

.page-btn {
  width: 204px;
  height: 50px;
 // background: linear-gradient(250.68deg, #D04F56 6.6%, #AB3034 96.33%);
  background: url("assets/img/page-btn.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 47px;
  @include align-justify-center;
  border: none;

  font-family: $base-font;
  font-size: 19px;
  line-height: 150%;
  color: #FFFFFF;

  &:hover {
    opacity: 0.8;
  }

  &--border {
    background: none;
    border: 1px solid rgba(208, 79, 86, 0.53);
    font-family: $base-font;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #AB3034;
    border-radius: 10px;
    width: 100%;
  }

  &--buy {
    background: url("assets/img/svg/btn-green.svg") no-repeat;
    background-size: 100% 100%;
  }

  &--change {
    background: url("assets/img/change-btn.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
  }
}

.burger-btn {
  background: url("assets/img/svg/menu.svg") no-repeat;
  border: none;
  width: 18px;
  height: 16px;
  display: none;
  z-index: 18;

  @include max-screen(lg) {
    display: block;
  }

  &.active {
    background: url("assets/img/svg/close.svg") no-repeat;
  }
}

.select {

  &.open {
    z-index: 15;
  }

  &__btn {
    background: url("assets/img/account-btn.png") no-repeat;
    border: none;
    width: fit-content;
    min-width: 220px;
    height: 52px;
    @include align-center;
    padding-left: 10px;
    padding-right: 40px;
    background-size: 100% 100%;
    font-family: $base-font;

    @include max-screen(xxl) {
      height: 48px;
    }
    @include max-screen(xl) {
      height: 42px;
      padding-right: 25px;
    }
  }

  &__drop {
    position: absolute;
    right: 0;
    width: 100%;
  }

  &__icon {
    background: url("assets/img/svg/icon-drop-down.svg") no-repeat;
    position: absolute;
    right: 23px;
    width: 9px;
    height: 7px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s ease-in;
    cursor: pointer;

    @include max-screen(xl) {
     right: 10px;
    }

    &.opened {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__drop {
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.06);
    border-radius: 22px;
    padding: 20px;
    margin-top: 15px;
    animation: growDown 300ms ease-in-out forwards;

    .page-btn {
      position: static;
      transform: translate(0);
    }
  }
}

.copy-btn {
  position: absolute;
  border: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  height: 19px;
  transition: opacity .2s ease-in;

  @include max-screen(lg) {
    height: 30px;
  }

  &:hover {
    opacity: 0.5;
  }

  svg {
    @include max-screen(lg) {
      width: 30px;
      height: 30px;
    }
  }
}

.view-on {
  font-size: 12px;
  line-height: 150%;
  margin-left: 5px;
  color: #000000;
  border: none;
  @include align-center;
  width: 100%;
  justify-content: flex-start;
  font-family: $base-font;
  padding-bottom: 10px;

  svg {
    margin-left: 7px;
  }
}

.page-input {
  position: relative;

  .input {
    width: 100%;
    height: 50px;
    background: rgba(241, 203, 129, 0.6);
    border: 1px solid #CCA24F;
    border-radius: 10px;
    padding: 0 22px 0 20px;

    font-family: $base-font;
    font-size: 16px;
    line-height: 150%;
    color: #503614;
    transition: all 0.3s ease-in-out;

    &::placeholder {
      font-family: $base-font;
      font-size: 16px;
      line-height: 150%;
      color: #503614;
    }

    &:focus {
      background: transparent;



      &::placeholder {
        font-size: 0;
      }
    }

    &:hover {
      background: rgba(241, 203, 129, 0.3);
      border: 1px solid #B17B11;
      color: #B17B11;

      &::placeholder {
        color: #B17B11;
      }
    }


  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: $base-font;
    font-size: 15px;
    line-height: 150%;
    color: #503614;
    left: 22px;
    pointer-events: none;

  }

  &.focus {
    label {
      left: 15px;
      top: 0;
      font-size: 9px;
      line-height: 150%;
      transform: translateY(-50%);
      background: rgba(252, 221, 158, 0.4);
      backdrop-filter: blur(100px);
      padding: 3px 5px;
      border-radius: 5px;
      animation: slideUp .1s ease-in forwards;
    }
  }



  &.error {
   .input {
     border: 1px solid #AB3034;

     color: #AB3034;
     padding-right: 40px;
     background: white;

     &::placeholder {
       color: #AB3034;
     }
   }

    label {
      display: none;
    }

    .page-input__icon {
      display: block !important;
    }
  }

  &__icon {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  &--select {

  }

  &__current {
    height: 50px;
    width: 100%;
    @include align-center;
    padding: 0 13px 0 20px;
    justify-content: space-between;
    background: rgba(241, 203, 129, 0.6);
    border: 1px solid #CCA24F;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 150%;
    color: #503614;
    transition: all .3s ease-in;

    &:hover {
      background: rgba(241, 203, 129, 0.3);
      border: 1px solid #B17B11;
      color: #B17B11;

      svg {
        path {
          fill: #B17B11;

        }
      }
    }


  }

  &__drop {
    width: 100%;
    background: rgb(241, 203, 129);
    border: 1px solid #CCA24F;
    border-radius: 10px;
    padding: 17px 20px;
    position: absolute;
    bottom: -5px;
    transform: translateY(100%);
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    color: #503614;
    cursor: pointer;
    margin-top: 5px;
    z-index: 5;

    li {
      &:hover {
        color: #B17B11;
      }
      + li {
        margin-top: 10px;


      }
    }
  }
}



.tooltip {
  position: absolute;
  background: linear-gradient(81.47deg, #59A237 0%, #79C898 100%);
  border-radius: 10px;
  width: 90px;
  height: 40px;
  @include align-justify-center;
  right: -25px;

  font-size: 15px;
  line-height: 150%;
  color: #FFFFFF;

  @include max-screen(lg) {
    right: -20px;
  }

  &:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #5ca53f transparent;
    top: 0%;
    transform: translate(-25%, -80%);
    left: 50%;


  }

}

.timer {
  @include align-center;

  &__wrap {
    background: url("assets/img/svg/timer-bg-1.svg") no-repeat;
    background-size: 100% 100%;
    width: 60px;
    height: 52px;
    @include align-justify-center;
    font-size: 20px;
    line-height: 150%;
    color: #503614;
    opacity: 0.8;
    text-shadow: 0px 1.07258px 1.07258px rgba(255, 255, 255, 0.55);

    @include max-screen(xs) {
      font-size: 15px;
    }

    &:nth-child(2) {
      background: url("assets/img/svg/timer-bg-2.svg") no-repeat;
      background-size: 100% 100%;
    }
  }

  &__separator {
    margin: 0 3px;
    font-size: 20.0674px;
    line-height: 150%;
    color: #503614;
    opacity: 0.8;
    text-shadow: 0px 1.07258px 1.07258px rgba(255, 255, 255, 0.55);
  }
}


.view-more {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: none;
  background: url("assets/img/view-more-btn.png") no-repeat;
  background-position: center;
  @include align-column-center;
  font-family: $base-font;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);

  color: #FFFFFF;

  @include max-screen(lg) {
    width: 100px;
    height: 100px;
    background-size: 150% 150%;
    font-size: 11px;
  }
  @include max-screen(xs) {
    width: 80px;
    height: 80px;
    font-size: 9px;
  }

  span {
    font-size: 26px;

    @include max-screen(lg) {
      font-size: 19px;
    }
    @include max-screen(xs) {
      font-size: 16px;
    }
  }

  &__icon {
    margin-top: 6px;
    @include align-column-center;
    margin-bottom: -15px;

  }

  &:focus {
    top: 2px;
    box-shadow: 0px -2px 8px 6px rgba(0, 0, 0, 0.25);
  }

  .scroll_arrows {
    background: url("assets/img/svg/view-arrow-1.svg") no-repeat;
    background-position: center;
    background-size: 100% 100%;

      &.one {

        width: 31px;
        height: 20px;


        @include max-screen(md) {
          width: 32px;
        }
        @include max-screen(xs) {
         background-size: 100% 100%;
          width: 29px;
          height: 13px;
        }
      }

    &.two {

      width: 28px;
      height: 24px;
      margin-top: -15px;

      @include max-screen(md) {
        width: 30px;
      }
      @include max-screen(xs) {
        background-size: 100% 100%;
        width: 18px;
        height: 15px;
        margin-top: -9px;
      }
    }

    &.three {

      width: 23px;
      height: 18px;
      margin-top: -15px;

      @include max-screen(xs) {
        background-size: 100% 100%;
        width: 13px;
        height: 20px;
        margin-top: -14px;
      }
    }

    + .scroll_arrows {

    }
  }
}

.spin-wrap {
  width: 33px;
  display: flex;
  flex-wrap: wrap;
}

.spinner{
  // Common styles
  width: 15px;
  height: 15px;
  margin-bottom: 1px;
  border-radius: 3px;
  margin-left: 1px;

  &.spinner{
    background: #ffffff;
    animation: flip 1.2s ease infinite;
  }
}



