@import "../lib/mixins";
@import "../lib/var";
@import "../lib/animation";

* {
  outline: none !important;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $base-font;
  font-size: $base-font-size;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  /*@include max-screen(xxl) {
    width: 1200px;
  }*/
  @include max-screen(xl) {
    width: 100%;
    padding: 0 30px;
  }
  @include max-screen(xs) {
    width: 100%;
    padding: 0 15px;
  }
}

/* header */

.header {
  background: url("assets/img/header-bg.png") no-repeat;

  @include align-center;
  position: relative;
 //padding-left: 390px;
   height: 145px;
 // justify-content: center;

  @include max-screen(xxl) {
 //   padding-left: 270px;
  }
  @include max-screen(sm) {
    height: 100px;
    background-size: 100% 100%;
  }
  @include max-screen(xs) {
    background-size: cover;
    background-position: center;
    height: 150px;
  }

  &__img {
    position: absolute;
    width: 340px;
    height: 340px;
    left: 0;
    top: 0;
    z-index: 9;

    @include max-screen(xxl) {
      width: 250px;
      height: 250px;
    }
    @include max-screen(xl) {
      width: 210px;
      height: 210px;
    }
    @include max-screen(sm) {
      width: 115px;
      height: 115px;
    }
    @include max-screen(xs) {
      width: 100px;
      height: 100px;
    }
  }

  &__img-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;


    text {
      fill: #ffffff;
      font-size: 11px;
      font-family: $base-font;
      box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.25);
    }
  }

  &__logo {
    margin: 65px 100px 0;
    z-index: 9;

    @include max-screen(xxl) {
      margin: 15px 31px 0;
      width: 215px;
    }
    @include max-screen(xl) {
      margin: -5px 25px 0;
      width: 190px;
    }
    @include max-screen(sm) {
      width: 120px;
      margin: -12px 31px 0;
    }
    @include max-screen(xs) {
      width: 110px;
      margin: -70px 31px 0;
    }

  }

  .page-btn {
  //  margin-left: auto;
 //   margin-right: 50px;
    justify-self: flex-end;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-80%);

    @include max-screen(xxl) {
      transform: translateY(-95%);
      right: 30px;
    }
    @include max-screen(xl) {
      width: 160px;
      font-size: 16px;
    }
    @include max-screen(lg) {
    display: none;
    }
  }

  .burger-btn {
    position: absolute;
    right: 25px;
    top: 35%;
    transform: translateY(-100%);

    @include max-screen(xs) {
      top: 25%;
    }
  }
}

.header-wrap {
  @include align-center;
  margin: 0 auto;
}

.header-nav {
  margin-top: -45px;
  @include max-screen(lg) {
    display: none;
  }

  &__list {
    @include align-center;
  }

  &__item {
    margin-left: 30px;
    min-width: 120px;

    @include max-screen(xl) {
      margin-left: 20px;
    }

    a {
      color: #000000;
      white-space: nowrap;

      @include max-screen(xl) {
        font-size: 16px;
      }
    }

    +.header-nav__item {
      padding-left: 36px;
      position: relative;

      @include max-screen(xl) {
        padding-left: 25px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #CFAE82;
      }
    }
  }

  &--right {
    .header-nav__item {
      &:first-child {
        @include max-screen(xxl) {
          margin-left: 0;
        }
      }
    }
  }
}


.mobile-nav {
  position: absolute;
  display: none;
  background: #FFFFFF;
  width: 430px;
  height: 800px;
  right: 0;
  top: 70px;
  z-index: 8;
  padding: 50px;
  flex-direction: column;
  justify-content: space-between;

  @include max-screen(lg) {
    display: flex;
  }
  @include max-screen(md) {
   height: 600px;
  }
  @include max-screen(sm) {
    top: 0;
    min-height: 450px;
    height: 90vh;
    padding-top: 70px;
  }
  @include max-screen(xs) {
    width: 100%;
    padding: 70px 30px 50px;
  }


  &__item {
    border-bottom: 1px solid #F4F4F4;

    * {
      display: block;
      height: 70px;
      font-size: 30px;
      line-height: 150%;
      color: #503614;
      @include align-center;
    }
  }

  .page-btn {
    display: block;
    position: static;
    width: 100%;
    height: 80px;
    font-size: 30px;
    transform: translateY(0);

    @include max-screen(xs) {
      font-size: 26px;
    }
  }
}

.home-page {
  background:url("assets/img/background-bottom.png") no-repeat, url("assets/img/background.png") no-repeat ;
  min-height: 100vh;
  background-position:  bottom, top;
  overflow-x: hidden;
  background-size: 100%;

  @include max-screen(xxl) {
    background-size: contain, cover;
  }

  &__bottom {
    @include align-center;
    background: url("assets/img/bottom-bg.png") no-repeat;
    background-size: 100% 100%;
    margin: auto;
    max-width: 1135px;
    height: 220px;
    margin-top: -95px;
    position: relative;
    padding-top: 25px;
    z-index: 3;

    @include max-screen(xxl) {
      max-width: 1040px;
      height: 185px;
    }
    @include max-screen(xl) {
      max-width: 955px;
      height: 165px;
      margin-top: -55px;
    }
    @include max-screen(md) {
      margin-top: -55px;
    }
    @include max-screen(sm) {
     max-width: 100%;
      height: 200px;
    }
    @include max-screen(xs) {
    background-size: cover;
      background-position: center;
      margin-top: -40px;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      height: 265px;
      padding-bottom: 20px;
    }
  }
}

.home-page-content {
  position: relative;
}

.buy-wrap {
  width: 240px;
  height: 220px;
  position: absolute;
  border: none;

  @include align-justify-center;

  @include max-screen(xs) {
    width: 235px;
    height: 220px;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:after {
    background: linear-gradient(90deg, rgba(255,255,255,0) 36%, rgba(255,255,255,0.8746849081429446) 50%, rgba(255,255,255,0) 62%);
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0;
    right: 0;
    top: 32px;
   // bottom: 0;
    z-index: 5;
    transform: rotate(40deg);
    animation: moveBlink 1.5s linear infinite;
    opacity: 0.5;
  }

 /* &:after {
    background: linear-gradient(90deg, rgba(255,255,255,0) 14%, rgba(255,255,255,0.7150210425967262) 91%);
    content: "";
    height: 165px;
    opacity: .5;
    position: absolute;
    width: 50px;
  }*/

  &__text {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    transform: rotate(21.26deg);
    color: #ffffff;
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: $base-font;

    @include max-screen(xs) {
      font-size: 13px;
    }

    span {
      display: block;
      font-size: 36px;

      @include max-screen(xl) {
        font-size: 30px;
      }
      @include max-screen(lg) {
        font-size: 25px;
      }
    }
  }
}

.crane-wrap {
  position: absolute;
  bottom: 300px;
  left: 0;
  transform: translateX(-75%);
  z-index: 4;

  @include max-screen(xxl) {
    bottom: 215px;
    transform: translateX(-79%);
  //  left: 18%;
  }
  @include max-screen(xl) {
    transform: translateX(-78%);
  }
  @include max-screen(lg) {
   bottom: 105px;
    transform: translateX(-79%);
  }
  @include max-screen(md) {
   bottom: 74px;

 //   left: 6%;
  }
  @include max-screen(sm) {
 //   left: 2%;
    transform: translateX(-72%);
    bottom: -27px;
  }
  @include max-screen(xs) {
    bottom: -23px;
    transform: translateX(-70%);
  }

  &__mobile {
    display: none;

    @include max-screen(md) {
      display: block;
      width: 170px;
      margin-bottom: 100px;
    }
    @include max-screen(sm) {
      width: 95px;
      margin-bottom: 200px;
      margin-left: 15px;
    }
    @include max-screen(xs) {
      width: 67px;
      margin-left: 0;
    }
  }

  &__img {
    position: relative;

    @include max-screen(md){
      display: none;
    }

    .crane-bottom, .crane-top {
      @include max-screen(xxl) {
        width: 230px;
      }
      @include max-screen(xl) {
        width: 200px;
      }
      @include max-screen(lg) {
        width: 170px;
      }
      @include max-screen(sm) {
        width: 100px;
      }
      @include max-screen(xs) {
        width: 67px;
      }
    }

    .crane-top {
      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;

      @include max-screen(xl) {
        top: -30px;
      }
      @include max-screen(lg) {
        top: -50px;
      }
    }

    .crane-block-wrap {
      position: absolute;
      z-index: -2;
      left: -30px;
      top: 2px;

      @include max-screen(xxl) {
        left: -6px;
        top: 22px;
      }
      @include max-screen(xl) {
        left: -8px;
        top: 12px;
        width: 80px;
      }
      @include max-screen(lg) {
        left: -3px;
        top: -27px;
        width: 60px;
      }
    }
  }

  .buy-wrap {
    width: 248px;
    height: 233px;
    background: url("assets/img/buy-block-left.png") no-repeat;
    background-position: center;

    left: -25px;
    top: -10px;
    transform: translate(-100%, 20%);

    @include max-screen(xxl) {
      left: 0px;
      top: 0px;
      transform: translate(-90%, 25%);
    }

    @include max-screen(xl) {
      width: 187px;
      height: 185px;
      background-size: 100% 100%;
      transform: translate(-80%, 25%);
    }
    @include max-screen(lg) {
      transform: translate(-66%, 100%) rotate(-65deg);
    }
    @include max-screen(md) {
      transform: translate(-14%, 100%) rotate(-42deg);
      top: 55px;
    }
    @include max-screen(sm) {
      transform: translate(10%, 100%) rotate(-42deg);
      top: -15px;
    }
    @include max-screen(xs) {
      transform: translate(-15%, 100%) rotate(-42deg);
      top: -60px;
    }

   /* &:after {
      left: -15px;
      top: -30px;
      transform: rotate(35deg);
      animation: moveBlick .8s linear infinite forwards;
    }*/


    &__text {
      transform: rotate(25.07deg);
      margin-bottom: 35px;
      margin-left: -5px;

      @include max-screen(xl) {
        margin-bottom: 25px;
        margin-left: -9px;
      }
    }
  }
}

.crane-block {
  animation: balanceBlock 5s linear infinite;
}

.crane-block-fly {
  position: absolute;
  left: 50%;
  top: -80%;
  transform: rotate(40deg);
  opacity: 0;
  width: 70px;
}

.moveUp {
  animation: moveUp 15s linear infinite;

  .crane-wheel-up {
    -webkit-animation: clockwise 5s linear infinite;
    transform-origin: center;
  }
}

.moveDown {
  animation: moveDown 2s linear 1;

  .crane-wheel-down {
    -webkit-animation: clockwise 5s linear infinite;
    transform-origin: center;
  }
}



.active {

  animation: moveUpShort linear;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;

  .crane-wheel-back {
   animation: clockwise 5s linear;
    animation-duration: 1.8s;
    animation-delay: 1.4s;
  }

  .crane-wheel {
  animation: anticlockwise 5s linear;
    animation-duration: 1.8s;
    transform-origin: center;
    animation-delay: 1.4s;
  }

  .craneThrower {
  //  animation-name: moveThrower, moveThrowerBack;
    animation-name: moveThrower;
   animation-duration: 1.5s, 1s;
 //   animation-duration: 15s, 15s;

    animation-timing-function: ease-in;
    animation-delay: 1.4s, 2.9s;
 //   animation-delay: 0s, 15s;
    animation-fill-mode: forwards;
    transform-origin: 76% 35%;
    animation-direction: alternate;
    animation-iteration-count: 2;
  //  animation-iteration-count: infinite;
  }

  .craneThrow {
  //  animation-name: moveThrow, moveThrowBack;
    animation-name: moveThrow;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-duration: 1.5s, 1s;
  //  animation-duration: 15s, 15s;
    animation-timing-function: ease-in, linear;
    animation-delay: 1.4s, 2.9s;
  //  animation-delay: 0s, 15s;
    animation-fill-mode: forwards;
    transform-origin: 131% 3%;
  //  animation-iteration-count: infinite;

    @include max-screen(xxl) {
 //     transform-origin: 176% 11%;
    }
    @include max-screen(xl) {
      transform-origin: 120% 10%;
    }
    @include max-screen(lg) {
      transform-origin: 130% 18%;
    }
  }

  .craneFly {
    animation-name: flyingBlockSpin;
    animation-duration: 1.5s;
    animation-delay: 2.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .crane-block-wrap__hands {
    animation: disappear 0.9ms linear forwards;
    animation-delay: 2.9s;
  /*  animation-name: dissapear;
    animation-duration: .1s, .1ms;
    animation-timing-function: linear;
    animation-delay: 1.9s, 3s;
    animation-fill-mode: forwards;*/
  }
}

.balloon-wrap {
  position: absolute;
  top: -50px;
  right: 12%;
  z-index: 1;

  @include max-screen(xl) {
    right: 13%;
  }
  @include max-screen(lg) {
    right: 14%;
    z-index: 7;
  }
  @include max-screen(md) {
    right: 6%;
  }
  @include max-screen(sm) {
    right: 0;
    top: unset;
    bottom: 170px;
  }
  @include max-screen(xs) {
    bottom: 142px;

  }

  .buy-wrap {
    background: url("assets/img/buy-block-right.png") no-repeat;
    background-position: center;
    right: 0px;
    top: 0px;
    transform: translate(80%, 80%) rotate(-50deg);

    @include max-screen(xl) {
      background-size: 100% 100%;
      width: 258px;
      height: 250px;
      transform: translate(80%, 17%) rotate(-50deg);
    }
    @include max-screen(lg) {
      transform: translate(74%, 17%) rotate(-50deg);
    }
    @include max-screen(md) {
      transform: translate(30%, 73%) rotate(-50deg);
    }
    @include max-screen(sm) {
      transform: translate(17%, 55%);
    }
    @include max-screen(xs) {
      transform: translate(21%, 26%);
    }

    &:after {

    }

   /* &:after {
      right: -15px;
      top: 25px;
      height: 150px;
      transform: rotate(3deg);
      animation: moveBlickRight 1.2s linear infinite forwards;
    }*/
  }

  &__img {
    width: 240px;
    animation: balloonmove 15s linear infinite;
    @include align-column-center;

    @include max-screen(xl) {
      width: 150px;
    }
    @include max-screen(lg) {
      width: 135px;
    }
    @include max-screen(md) {
      width: 110px;
    }
    @include max-screen(sm) {
      animation: none;
      width: 77px;
    }
    @include max-screen(xs) {
      width: 57px;
    }

    &--top {

    }

    &--bottom {
      margin-top: -5px;
      width: 150px;
      animation: balance 10s linear infinite;

      @include max-screen(xl) {
        width: 100px;
      }
      @include max-screen(lg) {
        width: 65%;
      }
      @include max-screen(sm) {
        animation: none;
      }
    }
  }

}



.bottom-wrap {
  @include align-center;
  width: 280px;
  height: 98px;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  + .bottom-wrap {
    border-left: 1px dashed rgba(0, 0, 0, 0.3);
  }

  &:nth-child(4) {
    @include max-screen(xs) {
      border-left: none;
    }
  }

  @include max-screen(xs) {
    width: 30%;
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  svg {
    height: 63px;
    width: 35px;
    @include max-screen(md) {
      width: 33px;
    }
    @include max-screen(sm) {

    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;

    @include max-screen(md) {
      font-size: 15px;
    }
    @include max-screen(xs) {
      font-size: 12px;
    }

    span {
      display: block;
      font-size: 24px;

      @include max-screen(sm) {
       font-size: 21px;
      }
      @include max-screen(sm) {
        font-size: 18px;
      }
      @include max-screen(xs) {
        font-size: 16px;
      }
    }
  }
}

.tower-wrap {
  position: relative;
  max-width: 1030px;
  margin: auto;

  @include max-screen(xxxl) {
    max-width: 750px;
  }
  @include max-screen(xxl) {
    max-width: 630px;
  }
  @include max-screen(xl) {
    max-width: 610px;
  }
  @include max-screen(lg) {
    max-width: 500px;
  }
  @include max-screen(md) {
    max-width: 460px;
  }
  @include max-screen(xs) {
    max-width: 70%;
  }

  &__guys {
    margin-top: 190px;
    margin-bottom: -30px;
    @include align-center;
    justify-content: space-between;
    z-index: -1;

    @include max-screen(sm) {
      margin-top: 200px;
      margin-bottom: -23px;
    }
    @include max-screen(xs) {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: -15px;
      margin-top: 100px;
    }

    img {
      @include max-screen(lg) {
        width: 70px;
      }
      @include max-screen(md) {
        width: 65px;
      }
      @include max-screen(xs) {
        width: 40px;
      }
    }

    &--left, .tower-wrap__guys--right {
      @include align-center;
    }

    &--left {
      img {
        margin-right: -40px;

        @include max-screen(xs) {
          margin-right: -25px;
        }

        &:first-child {
          transform: rotate(-24.67deg);
          margin-left: 20px;

          @include max-screen(xs)  {
            margin-left: 0;
          }
        }

        &:nth-child(3) {
          transform: rotate(14.89deg);
        }

        &:last-child {
          transform: rotate(23.16deg);
          margin-left: 10px;
        }
      }
    }

    &--right {

      @include max-screen(xs) {
        margin-right: -25px;
      }

      img {

        margin-left: -45px;

        @include max-screen(xs) {
          margin-left: -60px;
        }
        &:first-child {
          transform: matrix(-0.92, 0.39, 0.39, 0.92, 0, 0);
          margin-right: 10px;

          @include max-screen(xs) {
            margin-right: -7px
          }
        }

        &:nth-child(2) {
          transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
        }

        &:nth-child(3) {
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        &:last-child {
          transform: matrix(-0.91, -0.42, -0.42, 0.91, 0, 0);

        }
      }
    }
  }

  &__img {
    margin: auto;
    max-width: 100%;
    z-index: 2;
    position: relative;
    background: url("assets/img/tower-bagr.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;

    @include align-column-center;

    .tower {
      width: 1030px;
      margin: auto;
      height: 1393px;

      padding: 48px 45px 156px 61px;
      @include max-screen(xxxl) {
        width: 695px;
        height: 1295px;

        padding: 42px 0 141px 17px;
      }
      @include max-screen(xxl) {
        width: 600px;
        height: 1064px;
        padding: 36px 10px 119px 24px;
      }
      @include max-screen(xl) {
        width: 558px;
        padding: 34px 0px 119px 11px;
      }
      @include max-screen(lg) {
        width: 460px;
        padding: 25px 0 94px 11px;
        height: 765px;
      }
      @include max-screen(md) {
        width: 425px;
      }
      @include max-screen(xs) {
        width: 100%;
        height: 470px;
        padding: 16px 10px 77px 16px;
      }

      &__row {
        width: 100%;
        display: flex;
        margin: 2px 0;

        &--xl {
          height: 30%;

          @include max-screen(xs) {
            height: 32%;
          }
        }

        &--lg {
          height: 16%;

          .tower__col img {
            @include max-screen(xxl) {
              border-radius: 30px;
            }
            @include max-screen(lg) {
              border-radius: 25px;
            }
            @include max-screen(xs) {
              border-radius: 11px;
            }
          }
        }

        &--md {
          height: 9%;

          @include max-screen(xs) {
            height: 8%;
          }

          .tower__col img{
            border-radius: 15px;

            @include max-screen(xs) {
              border-radius: 7px;
            }
          }

          .tower-block__point {
            width: 37px;
            height: 37px;

            span {
              width: 29px;
              height: 29px;
              border-width: 4px;
            }
          }
        }

        &--sm {
          height: 4%;

          .tower__col img {
            border-radius: 10px;

            @include max-screen(xs) {
              border-radius: 3px;
            }
          }

          .tower-block__point {
            width: 17px;
            height: 17px;

            span {
              width: 11px;
              height: 11px;
              border-width: 2px;
            }
          }
        }

        &--xs {
          height: 2%;

          .tower__col img{
            border-radius: 5px;
            @include max-screen(xs) {
              border-radius: 3px;
            }
          }

          .tower-block__point {
            width: 17px;
            height: 17px;

            span {
              width: 11px;
              height: 11px;
              border-width: 2px;
            }
          }
        }
      }

      &__col {
        height: 100%;

        position: relative;
     //   overflow: hidden;
        width: 100%;
        @include align-justify-center;
        cursor: pointer;

        &.owner {
          img {
            border: 6px solid rgba(228, 190, 52, 0.9);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 45px;

          @include max-screen(xs) {
            border-radius: 18px;
          }
        }

        &:hover {
          .tower-block {
            display: block !important;
            animation: fadein 0.5s;
          }
        }



        &--big {
          width: 100%;
        }
      }

      &__block-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
    }

  /*  .tower-bottom {
      margin-top: -50px;
      margin-left: 25px;
    }*/
  }
}

.tower-block {
  position: absolute;
  background: url("assets/img/tower-opened-bg.png") no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  width: 280px;
  padding: 30px 40px;
  bottom: 50%;
  left: 50%;
  display: none;

  @include max-screen(xs) {
    width: 200px;
    padding: 15px 20px;
  }


  &__img {
    width: 200px;
    height: 200px;
    border-radius: 30px !important;
    overflow: hidden;
    margin-bottom: 15px;

    @include max-screen(xs) {
      width: 100%;
      height: 150px;
    }

    img {
      object-fit: cover !important;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    color: #9B8360;
  }

  &__text {
    line-height: 23px;
    color: #503614;
    margin-bottom: 8px;
  }

  &__point {
    width: 57px;
    height: 57px;
    background: linear-gradient(250.68deg, #D04F56 6.6%, #AB3034 96.33%);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    @include align-justify-center;

    @include max-screen(xs) {
      width: 47px;
      height: 47px;
    }

    span {
      background: linear-gradient(250.68deg, #D04F56 6.6%, #AB3034 96.33%);
      border: 5px solid #FFFFFF;
      width: 49px;
      height: 49px;
      display: block;
      border-radius: 50%;

      @include max-screen(xs) {
        width: 39px;
        height: 39px;
      }
    }
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


/* scroll styles */

.scroll-area {
  height: 400px;
  overflow-y: auto;
}

.ps__rail-y, .ps__rail-x {
  width: 10px !important;
//  background: linear-gradient(90deg, rgba(80, 54, 20, 0) 0%, #503614 12.61%, #503614 88.8%, rgba(80, 54, 20, 0) 100.88%);
  border-left: 1px solid #503614;
  cursor: pointer !important;

  &:hover {
    background-color: transparent !important;
  }

}

.ps__thumb-y, .ps__thumb-x {
  background: #503614 !important;
  border-radius: 4px;
  width: 11px !important;
  height: 95px;
  right: 4px !important;
  cursor: pointer !important;

  &:after {
    content: "";
    position: absolute;
    background: url("assets/img/svg/scroll-img.svg") no-repeat;
    width: 5px;
    height: 16px;
    background-size: 100% 100%;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
