@import "../lib/mixins";
@import "../lib/var";
@import "../lib/animation";

* {
  outline: none !important;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: $base-font;
  font-size: $base-font-size;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  /*@include max-screen(xxl) {
    width: 1200px;
  }*/
  @include max-screen(xl) {
    width: 100%;
    padding: 0 30px;
  }
  @include max-screen(xs) {
    width: 100%;
    padding: 0 15px;
  }
}

/* header */

.header {
  background: url("assets/img/header-bg.png") no-repeat, url("assets/img/svg/header-bg-bg.svg") no-repeat;
  @include align-center;
  position: relative;
  background-position: center, top;
  background-size: 100% 100%;
  height: 170px;
 // z-index: 2;

  @include max-screen(xxxl) {
    background-size: 100%;
    height: 110px;
  }
  @include max-screen(xxl) {
   height: 90px;
    background-size: 100% 100%, 100% 85%;
  }
  @include max-screen(sm) {
    background: none;
    height: 75px;
  }
  @include max-screen(xs) {
    height: 60px;

  }

  &:before {
    @include max-screen(sm) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: url("assets/img/header-bg-mobile.png") no-repeat;
      background-size: 100% 100%;
      z-index: 15;
    }
  }


  &__img {
    position: absolute;
    width: 340px;
    height: 340px;
    left: 0;
    top: 0;
    z-index: 17;

    @include max-screen(xxl) {
      width: 250px;
      height: 250px;
    }
    @include max-screen(xl) {
      width: 200px;
      height: 200px;
    }
    @include max-screen(sm) {
      width: 130px;
      height: 130px;
    }

    &:before {
      content: "";
      position: absolute;
      background: url("assets/img/svg/sun-essense.svg") no-repeat;
      background-size: 100% 100%;
      width: 60%;
      height: 60%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      animation: sunAnimation 3s linear infinite;
    }

    &:after {
      content: "";
      position: absolute;
      background: url("assets/img/svg/sun-big-rays.svg") no-repeat;
      background-size: 100% 100%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: scale(0.5);
      animation: sunAnimationRays alternate 1.5s linear infinite ;
    }
  }

  &__img-sun {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__img-ray {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &:before {
      content: "";
      position: absolute;
      background: url("assets/img/svg/sun-small-rays.svg") no-repeat;
      background-size: 100% 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 80%;
      height: 80%;
      animation: sunAnimationRays alternate 1.5s linear infinite ;
      animation-delay: 0.8s;
    }
  }

  &__img-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    margin: auto;
    height: 40%;
    animation-name: spin;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__logo {
    margin: 0 50px;
    z-index: 17;
    align-self: flex-start;
    width: 500px;

    @include max-screen(xxxl) {
      width: auto;
    }
    @include max-screen(xxl) {
        margin: 0;
      margin-right: 20px;
      width: 200px;
    }
    @include max-screen(xl) {
      width: 180px;
      margin-right: 30px;
    }
    @include max-screen(lg) {
      margin-right: 0;
    }
    @include max-screen(sm) {
      width: 170px;
    }
    @include max-screen(xs) {
      width: 140px;
    }

  }

  .page-btn--header, .account-info {
  //  margin-left: auto;
 //   margin-right: 50px;
    justify-self: flex-end;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    @include max-screen(xxl) {
      transform: translateY(-45%);
      right: 20px;
    }
    @include max-screen(xl) {
      width: 160px;
      font-size: 16px;
    }
    @include max-screen(lg) {
    display: none;
    }
  }

  .page-btn--header {
    width: 212px;
    height: 42px;
    font-size: 19px;
  }

  .account-info {
    @include max-screen(xl) {
      width: fit-content;
    }
  }


  .burger-btn {
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-100%);

    @include max-screen(sm) {
      top: 50%;
    }

    &.active {
      animation: none;

    }
  }
}

.account-info {
    &__coin {
      margin-right: 8px;
    }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    font-family: $base-font;
    align-items: flex-start;
    white-space: nowrap;
  }

  &__address {
    font-family: $text-font;
    font-size: 12px;
    line-height: 15px;
    color: #9D9D9D;
  }

  &__title {
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 4px;
  }

  &__input {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    input {
      background: #F3F3F3;
      border-radius: 10px;
      width: 100%;
      height: 40px;
      border: none;
      padding: 0 30px 0 17px;


      font-family: $text-font;
      font-size: 14px;
      line-height: 18px;
      color: #9D9D9D;

      @include max-screen(lg) {
        font-size: 18px;
        padding: 0 45px 0 17px;
      }

      &::placeholder {
        font-family: $text-font;
        font-size: 14px;
        line-height: 18px;
        color: #9D9D9D;

        @include max-screen(lg) {
          font-size: 18px;
        }
      }

    }
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    background: linear-gradient(356.52deg, #59A237 4.14%, #79C898 98.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;

    @include max-screen(xl) {
      font-size: 16px;
    }
    @include max-screen(lg) {
      font-size: 26px;
    }
    @include max-screen(xs) {
      font-size: 22px;
    }
  }

  .view-on {
    border-top: 1px solid #F3F3F3;
    padding-top: 15px;
  }
}



.header-wrap {
  @include align-center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @include max-screen(xl) {
    margin-left: -40px;
  }
  @include max-screen(lg) {
    margin-left: 0;
    justify-content: center;
  }
}

.header-nav {
  margin-left: 15%;

  @include max-screen(xxxl) {
    margin-left: 17%;
  }
  @include max-screen(xxl) {
    margin-left: 19%;
  }
  @include max-screen(xl) {
    margin-left: 22%;
  }
  @include max-screen(lg) {
    display: none;
  }

  &__list {
    @include align-center;
    justify-content: center;


    @include max-screen(xxxl) {
      width: 445px;
    }
    @include max-screen(xxl) {
      width: fit-content;
    }
  }

  &__item {
 //   margin-left: 30px;
    min-width: 120px;

    @include max-screen(xl) {
 //     margin-left: 20px;
    }

    a {
      color: #000000;
      white-space: nowrap;
      cursor: pointer;
      font-size: 34px;
      text-shadow: 0px 3px 4px #FFFFFF;
      transition: text-shadow 0.01s ease-in;

      @include max-screen(xxxl) {
        font-size: 21px;
      }
      @include max-screen(xxl) {
        font-size: 17px;
      }
      @include max-screen(xl) {
        font-size: 16px;
      }

      &:active {
        text-shadow: 0px -3px 4px rgba(255, 250, 250, 0.5);
        position: relative;
        top: 1px;
      }
    }

    +.header-nav__item {
      padding-left: 50px;
      position: relative;

      @include max-screen(xxl) {
        padding-left: 32px;
      }
      @include max-screen(xl) {
        padding-left: 20px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        background: #CA5454;

        @include max-screen(xxl) {
          left: 12px;
        }
        @include max-screen(xl) {
          left: 2px;
        }
      }
    }
  }

  &--right {
      margin-left: 0;
      margin-right: 19%;

    @include max-screen(xl) {
      margin-right: 17%;
    }

    .header-nav__list {
      width: 415px;

      @include max-screen(xxl) {
        padding-right: 30px;
        padding-left: 0;
        width: fit-content;
      }
      @include max-screen(xl) {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .header-nav__item {
      &:first-child {
        @include max-screen(xxl) {
          margin-left: 0;
        }
      }

      + .header-nav__item {
        padding-left: 60px;

        @include max-screen(xl) {
         padding-left: 37px;
        }
      }
    }
  }
}


.mobile-nav {
  position: absolute;
  display: none;
  background: #FFFFFF;
  width: 430px;
 // height: 800px;
  right: 0;
  top: 0;
  z-index: 8;
  padding: 50px;
  padding-top: 70px;
  flex-direction: column;
  justify-content: space-between;

  @include max-screen(lg) {
    display: flex;
  }
  @include max-screen(md) {
    padding-top: 120px;
  }
  @include max-screen(sm) {
    top: 0;
    height: 100vh;
    padding-top: 130px;
    z-index: 10;
  }
  @include max-screen(xs) {
    width: 100%;
    padding: 95px 30px 50px;
    padding-top: 130px;
  }

  &.adaptive {
    height: 760px;
    min-height: 100vh;
  }


  &__item {
    border-bottom: 1px solid #F4F4F4;

    * {
      display: block;
      height: 70px;
      font-size: 29px;
      line-height: 150%;
      color: #503614;
      @include align-center;
    }
  }

  &__account {
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.06);
    border-radius: 22px 22px 0 0;
    width: 100%;
    padding: 47px 50px 70px;
    position: absolute;
    bottom: -45px;
    left: 0;
    animation: fadeInUp 1s ease-in ;

    @include max-screen(xs) {
      padding: 47px 30px 70px;
    }
  }

  .page-btn {
    display: block;
    position: static;
    width: 100%;
    height: 80px;
    font-size: 30px;
    transform: translateY(0);

    @include max-screen(xs) {
      font-size: 26px;
    }
  }

  .select__btn {
    width: 100%;
    height: 80px;
  }

  .account-info__coin {
    width: 40px;
    height: 40px;
  }

  .account-info__info {
    font-size: 18px;
  }

  .account-info__address, .account-info__title {
    font-size: 14px;
  }

  .account-info__input input {
    height: 60px;
  }



  .page-btn--border {
    font-size: 18px;
    height: 60px;
    margin-top: 10px;
  }
}


.home-page {
  background:url("assets/img/background-bottom.png") no-repeat, url("assets/img/background.png") no-repeat ;
  min-height: 100vh;
  background-position:  bottom, top;
  overflow-x: hidden;
  background-size: contain, cover;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: url("assets/img/bottom-bg-img.png") no-repeat;
    background-size: 100% 100%;
    left: 0;
    bottom: 55px;
    width: 545px;
    height: 120px;

    @include max-screen(xxl) {
      width: 345px;
      height: 87px;
    }
    @include max-screen(xl) {
      width: 246px;
      height: 75px;
    }
    @include max-screen(sm) {
      width: 146px;
      height: 45px;
    }
  }

  &__bottom {
    @include align-center;
    background: url("assets/img/bottom-bg.png") no-repeat;
    background-size: 100% 100%;
    margin: auto;
    max-width: 1135px;
    height: 135px;
    margin-top: -43px;
    position: relative;
    padding-top: 20px;
    z-index: 3;

    @include max-screen(xxl) {
      max-width: 1040px;
    }
    @include max-screen(xl) {
      max-width: 955px;
      margin-top: -55px;
    }
    @include max-screen(md) {
      margin-top: -55px;
    }
    @include max-screen(sm) {
     max-width: 100%;
      margin-top: -30px;
      height: 100px;
    }
    @include max-screen(xs) {

      width: 100%;
      justify-content: center;
      padding-bottom: 20px;
    }
  }
}

.home-page-content {
  position: relative;
  height: 100% !important;
}

.buy-wrap {
  width: 256px;
  height: 243px;
  position: absolute;
  border: none;

  @include align-justify-center;

  @include max-screen(xs) {
    width: 235px;
    height: 220px;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:after {
    background: linear-gradient(90deg, rgba(255,255,255,0) 36%, rgba(255,255,255,0.8746849081429446) 50%, rgba(255,255,255,0) 62%);
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    left: 0;
    right: 0;
    top: 32px;
   // bottom: 0;
    z-index: 5;
    transform: rotate(40deg);
    animation: moveBlink 1.5s linear infinite ;
    opacity: 0.5;

    @include max-screen(sm) {
      display: none;
    }
  }


  &__text {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    transform: rotate(-29.61deg);
    color: #ffffff;
    margin-bottom: 27px;
    font-family: $base-font;
    z-index: 15;

    @include max-screen(xs) {
      font-size: 13px;
    }

    span {
      display: block;
      font-size: 36px;

      @include max-screen(xl) {
        font-size: 30px;
      }
      @include max-screen(lg) {
        font-size: 25px;
      }
    }
  }

  &__icon {
    position: absolute;
    width: 23px;
    height: 23px;
    cursor: pointer;
    z-index: 15;

    @include max-screen(xs) {
      width: 19px;
      height: 12px;
    }
  }
}

.crane-wrap {
  position: absolute;
  left: 0;
//  transform: translateX(-67%);
  transform: translateX(-75%);
  z-index: 4;

  @include max-screen(xxxl) {
    transform: translateX(-75%);
  }
  @include max-screen(xxl) {
    transform: translateX(-79%);
  }
  @include max-screen(xl) {
    transform: translateX(-78%);
  }
  @include max-screen(lg) {

    transform: translateX(-79%);
  }
  @include max-screen(md) {
   bottom: 74px;

 //   left: 6%;
  }
  @include max-screen(sm) {
 //   left: 2%;
    transform: translateX(-72%);
    bottom: -27px;
  }
  @include max-screen(xs) {
    bottom: -23px;
    transform: translateX(-70%);
  }

  &__mobile {
    display: none;

    @include max-screen(md) {
      display: block;
      width: 170px;
      margin-bottom: 100px;
    }
    @include max-screen(sm) {
      width: 95px;
      margin-bottom: 200px;
      margin-left: 15px;
    }
    @include max-screen(xs) {
      width: 67px;
      margin-left: 0;
    }
  }

  &__img {
    position: relative;

    @include max-screen(md){
      display: none;
    }

    .crane-bottom, .crane-top {
      @include max-screen(xxl) {
        width: 230px;
      }
      @include max-screen(xl) {
        width: 200px;
      }
      @include max-screen(lg) {
        width: 170px;
      }
      @include max-screen(sm) {
        width: 100px;
      }
      @include max-screen(xs) {
        width: 67px;
      }
    }

    .crane-top {
      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;

      @include max-screen(xl) {
        top: -30px;
      }
      @include max-screen(lg) {
        top: -50px;
      }
    }

    .crane-block-wrap {
      position: absolute;
      z-index: -2;
      left: -30px;
      top: 2px;

      @include max-screen(xxl) {
        left: -6px;
        top: 22px;
      }
      @include max-screen(xl) {
        left: -8px;
        top: 12px;
        width: 80px;
      }
      @include max-screen(lg) {
        left: -3px;
        top: -27px;
        width: 60px;
      }
    }
  }

  .buy-wrap {
    width: 248px;
    height: 233px;
    background: url("assets/img/buy-block-left.png") no-repeat;
    background-position: center;

    left: -25px;
    top: -10px;
    transform: translate(-100%, 20%);

    @include max-screen(xxl) {
      left: 0px;
      top: 0px;
      transform: translate(-90%, 25%);
    }

    @include max-screen(xl) {
      width: 172px;
      height: 173px;
      background-size: 100% 100%;
      transform: translate(-80%, 25%);
    }
    @include max-screen(lg) {
      transform: translate(-66%, 114%) rotate(-54deg);
    }
    @include max-screen(md) {
      transform: translate(-14%, 100%) rotate(-42deg);
      top: 55px;
    }
    @include max-screen(sm) {
      transform: translate(10%, 100%) rotate(-42deg);
      top: -15px;
    }
    @include max-screen(xs) {
      transform: translate(-10%, 110%) rotate(-42deg);
      top: 0;
      width: 139px;
      height: 136px;
      background-size: 115% 115%;
      border-radius: 90px;
      overflow: hidden;
    }

    &__text {
      transform: rotate(25.07deg);
      margin-bottom: 23px;
      margin-left: -11px;

      @include max-screen(xl) {
        margin-bottom: 25px;
        margin-left: -9px;
      }
    }

    &__icon {
      top: 77px;
      right: 67px;

      @include max-screen(xl) {
        top: 50px;
        right: 37px;
      }
      @include max-screen(md) {
        transform: rotate(41deg);
      }
      @include max-screen(xs) {
       top: 39px;
        right: 26px;
      }
    }
  }
}

.crane-block {
  animation: balanceBlock 5s linear infinite;
}

.crane-block-fly {
  position: absolute;
  left: 50%;
  top: -80%;
  transform: rotate(40deg);
  opacity: 0;
  width: 70px;
}

.moveUp {
  animation: moveUp 15s linear infinite;

  .crane-wheel-up {
    -webkit-animation: clockwise 5s linear infinite;
    transform-origin: center;
  }
}

.moveDown {
  animation: moveDown 2s linear 1;

  .crane-wheel-down {
    -webkit-animation: clockwise 5s linear infinite;
    transform-origin: center;
  }
}



.active {
  animation: moveDown linear, moveUp linear;
  animation-duration: 2.4s, 2.9s;
  animation-fill-mode: forwards;
  animation-delay: 0s, 4.8s;

  .crane-wheel-back {
   animation: clockwise 5s linear;
    animation-duration: 1.8s;
    animation-delay: 2.4s;
  }

  .crane-wheel {
  animation: anticlockwise 5s linear;
    animation-duration: 1.8s;
    transform-origin: center;
    animation-delay: 2.4s;
  }

  .craneThrower {
    animation-name: moveThrower;
   animation-duration: 1.5s, 1s;


    animation-timing-function: ease-in;
    animation-delay: 2.4s, 3.9s;

    animation-fill-mode: forwards;
    transform-origin: 76% 35%;
    animation-direction: alternate;
    animation-iteration-count: 2;
  }

  .craneThrow {
    animation-name: moveThrow;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-duration: 1.5s, 1s;
    animation-timing-function: ease-in, linear;
    animation-delay: 2.4s, 3.9s;
    animation-fill-mode: forwards;
    transform-origin: 131% 3%;

    @include max-screen(xxl) {
 //     transform-origin: 176% 11%;
    }
    @include max-screen(xl) {
      transform-origin: 120% 10%;
    }
    @include max-screen(lg) {
      transform-origin: 130% 18%;
    }
  }

  .craneFly {
    animation-name: flyingBlockSpin;
    animation-duration: 1.5s;
    animation-delay: 3.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .crane-block-wrap__hands {
    animation: disappear 0.9ms linear forwards;
    animation-delay: 3.9s;
  }


}

.balloon-wrap {
  position: absolute;
  top: -150px;
  right: 12%;
  z-index: 3;

  @include max-screen(xl) {
    right: 13%;
  }
  @include max-screen(lg) {
    right: 14%;
    z-index: 7;
  }
  @include max-screen(md) {
    right: 6%;
  }
  @include max-screen(sm) {
    right: 0;
    top: unset;
    bottom: 170px;
  }
  @include max-screen(xs) {
    bottom: 142px;

  }

  &__blocks {
    position: relative;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    height: 160px;
    background: url("assets/img/balloon-blocks-bg.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-top: 50px;
    animation: balance 10s linear infinite;
    border-bottom: 2px solid  #413927;
    justify-content: space-between;

    @include max-screen(sm) {
      margin-top: 25px;
    }
    @include max-screen(xs) {
      margin-top: 15px;
    }

    .line {
      position: absolute;
      left: 33px;
      z-index: 1;
      height: 231px;
      transform: rotate(21deg);
      width: 10px;
      bottom: -9px;
      background: url("assets/img/svg/line.svg") no-repeat;
      background-size: 100% 100%;

      @include max-screen(xl) {
        left: 21px;
        height: 169px;
        transform: rotate(20deg);
        bottom: -7px;
      }
      @include max-screen(md) {
        left: 15px;
        height: 131px;
        bottom: -4px;
      }
      @include max-screen(sm) {
        left: 10px;
        height: 95px;
        bottom: -4px;
      }
      @include max-screen(xs) {
        left: 6px;
        height: 68px;
        bottom: -4px;
      }
    }
    .line-2 {
      position: absolute;
      right: 34px;
      z-index: 1;
      height: 232px;
      transform: rotate(-18deg);
      width: 10px;
      bottom: -9px;
      background: url("assets/img/svg/line.svg") no-repeat;
      background-size: 100% 100%;

      @include max-screen(xl) {
        right: 20px;
        z-index: 1;
        height: 170px;
        transform: rotate(-15deg);
        width: 10px;
        bottom: -7px;
      }
      @include max-screen(md) {
        right: 14px;
        height: 131px;
        bottom: -4px;
      }
      @include max-screen(sm) {
        right: 10px;
        height: 97px;
        bottom: -6px;
        transform: rotate(-17deg);
      }
      @include max-screen(xs) {
        right: 6px;
        height: 68px;
        bottom: -5px;
      }
    }



    @include max-screen(xl) {
      width: 105px;
      height: 105px;
    }
    @include max-screen(md) {
      width: 80px;
      height: 80px;
    }
    @include max-screen(sm) {
      width: 80%;
      height: auto;
    }
  }

  &__cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__block {
    position: relative;
    width: 50%;
    height: 80px;
    cursor: pointer;

    @include max-screen(xl) {
      height: 52px;
    }
    @include max-screen(md) {
      height: 35px;
    }
    @include max-screen(sm) {
      height: 30px;
    }
    @include max-screen(xs) {
      height: 22px;
    }

    &:hover {
      .tower-block {
        display: block;
        z-index: 150;
      }
    }

    &.empty {
      &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: $base-font;
        font-size: 36px;
        line-height: 150%;
        text-align: center;
        color: #503614;
        opacity: 0.8;
        text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.55);

        @include max-screen(sm) {
          font-size: 13px;
        }
      }

      &:first-child:after {
        content: '1';
      }
      &:nth-child(2):after {
        content: '2';
      }
      &:nth-child(3):after {
        content: '3';
      }
      &:nth-child(4):after {
        content: '4';
      }
    }

    &.frozen {
      &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 13px;

        @include max-screen(xl) {
          border-radius: 7px;
        }
        @include max-screen(sm) {
          border-radius: 3px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        right: 6px;
        top: 7px;
        background: url("assets/img/svg/icon-lock.svg") no-repeat;
        width: 18px;
        height: 18px;
        background-size: 100%;

        @include max-screen(md) {
          right: 2px;
          top: 3px;
          width: 13px;
          height: 13px;
        }
        @include max-screen(xs) {
          right: 0;
          top: 1px;
          width: 10px;
          height: 10px;
        }
      }
      }
    }

    img {
      border-radius: 13px;
      height: 100%;
      border: 0;
      object-fit: cover;

      @include max-screen(xl) {
        border-radius: 7px;
      }
      @include max-screen(sm) {
        border-radius: 3px;
      }
    }
  }

  .buy-wrap {
    background: url("assets/img/buy-block-right.png") no-repeat;
    background-position: center;
    right: 0px;
    top: 0px;
    z-index: -1;
    transform: translate(90%, 50%) rotate(5deg);

    @include max-screen(xl) {
      background-size: 100% 100%;
      width: 258px;
      height: 250px;
      transform: translate(80%, 17%) rotate(5deg);
    }
    @include max-screen(lg) {
      transform: translate(74%, 17%) rotate(5deg);
    }
    @include max-screen(md) {
      transform: translate(30%, 90%) rotate(5deg);
    }
    @include max-screen(sm) {
      transform: translate(17%, 55%);
    }
    @include max-screen(xs) {
      transform: translate(9%, 85%);
      background-size: 150% 150%;
      width: 158px;
      height: 150px;
      overflow: hidden;
      border-radius: 90px;
      z-index: 1;
    }

    &__icon {
      bottom: 68px;
      left: 44%;

      @include max-screen(sm) {
        bottom: 81px;
        left: 45%;
      }
      @include max-screen(xs) {
        bottom: 44px;
        left: 44%;
      }
    }

    &:after {
      transform: rotate(0deg);
      animation: moveBlinkRight 1.5s linear infinite;
      height: 100%;
      top: 15px;

      @include max-screen(md) {
        height: 65%;
        top: 55px;
      }
    }

  }

  &__img {
    width: 240px;
    animation: balloonmove 15s linear infinite;
    @include align-column-center;

    @include max-screen(xl) {
      width: 150px;
    }
    @include max-screen(lg) {
      width: 135px;
    }
    @include max-screen(md) {
      width: 110px;
    }
    @include max-screen(sm) {
      animation: none;
      width: 80px;
    }
    @include max-screen(xs) {
      width: 57px;
    }

    &--top {

    }

    &--bottom {

      cursor: pointer;

      @include max-screen(xl) {
        width: 100px;
      }
      @include max-screen(lg) {
        width: 65%;
      }
      @include max-screen(sm) {
        animation: none;
      }
    }
  }

  .tower-block {
    &__point {
      width: 31px;
      height: 31px;

      span {
        width: 27px;
        height: 27px;
        border-width: 3px;
      }
    }
  }

}



.bottom-wrap {
  @include align-center;
  width: 280px;
  height: 75px;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  + .bottom-wrap {
    border-left: 1px dashed rgba(0, 0, 0, 0.3);
  }

  @include max-screen(sm) {
    height: 53px;
  }
  @include max-screen(xs) {
    width: 30%;
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;

  }

  svg {
    height: 40px;
    width: 40px;
    @include max-screen(md) {
      width: 33px;
    }
    @include max-screen(sm) {
      width: 27px;
    }
  }

  &__text {
    font-size: 12px;
    line-height: 1.1;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.55);


    @include max-screen(sm) {
      font-size: 10px;
    }
    @include max-screen(xs) {

    }

    span {
      display: block;
      font-size: 20px;

      @include max-screen(sm) {

      }
      @include max-screen(sm) {
        font-size: 12px;
      }
      @include max-screen(xs) {

      }
    }
  }
}

.tower-wrap {
  position: relative;
//  max-width: 1050px;
  max-width: 750px;
  margin: auto;
  height: 100%;
//  display: flex;
 // flex-direction: column;

  @include max-screen(xxxl) {
    max-width: 750px;
  }
  @include max-screen(xxl) {
    max-width: 630px;
  }
  @include max-screen(xl) {
    max-width: 610px;
  }
  @include max-screen(lg) {
    max-width: 500px;
  }
  @include max-screen(md) {
    max-width: 460px;
  }
  @include max-screen(xs) {
    max-width: 70%;
  }

  &__guys {
    margin-top: 350px;
    margin-bottom: -20px;
    @include align-center;
    justify-content: space-between;
    z-index: 0;

    @include max-screen(sm) {
      margin-top: 200px;
    }
    @include max-screen(xs) {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: -5px;
    }

    img {
      @include max-screen(lg) {
        width: 70px;
      }
      @include max-screen(md) {
        width: 65px;
      }
      @include max-screen(xs) {
        width: 40px;
      }
    }


    &--left, .tower-wrap__guys--right {
      @include align-center;
    }

    &--left {
      img {
        margin-right: -45px;
        z-index: 0;

        @include max-screen(xs) {
          margin-right: -25px;
        }

        &:first-child {
          transform: rotate(-32deg);
          margin-left: 5px;

          @include max-screen(xs)  {
            margin-left: 0;
          }
        }

        &:nth-child(3) {
          transform: rotate(18deg);
        }

        &:last-child {
          transform: rotate(23.16deg);
          margin-left: 6px;
        }
      }
    }

    &--right {
      margin-right: -20px;
      z-index: 0;
      @include max-screen(xs) {
        margin-right: -25px;
      }

      img {

        margin-left: -45px;

        @include max-screen(xs) {
          margin-left: -60px;
        }
        &:first-child {
          transform: matrix(-0.92, 0.39, 0.39, 0.92, 0, 0);
          margin-right: 10px;

          @include max-screen(xs) {
            margin-right: -7px
          }
        }

        &:nth-child(2) {
          transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);
        }

        &:nth-child(3) {
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        &:last-child {
          transform: matrix(-0.91, -0.42, -0.42, 0.91, 0, 0);

        }
      }
    }
  }

  &__img {
    height: 100%;
    margin: auto;
    max-width: 100%;
  //  z-index: 2;
    position: relative;
    background: url("assets/img/tower-blocks-bg.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;


    @include align-column-center;

    .tower {
   //   width: 1085px;
      width: 743px;
      height: 100%;
      margin: auto;
  //    height: fit-content;
      display: flex;
      flex-direction: column;
  //    padding: 32px 45px 255px 61px;
      padding: 32px 0 185px 41px;
   //   overflow-y: hidden;
      &::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }

      @include max-screen(xxxl) {


      }
      @include max-screen(xxl) {
        width: 623px;
        padding: 25px 0px 155px 32px;
      }
      @include max-screen(xl) {
        width: 605px;
        padding: 24px 0px 150px 34px;
      }
      @include max-screen(lg) {
        width: 498px;
        padding: 17px 0 123px 30px;
      }
      @include max-screen(md) {
        width: 467px;
        padding: 15px 10px 113px 30px;
      }
      @include max-screen(sm) {
        padding: 15px 10px 128px 27px;
      }
      @include max-screen(xs) {
        width: 100%;
        padding: 6px 0px 129px 16px;
      }

      &__row {
        width: 100%;
        display: flex;
        margin-bottom: 2px;

        &--xl {
            height: 334px;

          @include max-screen(xxl) {
            height: 273px;
          }
          @include max-screen(lg) {
            height: 194px;
          }
          @include max-screen(xs) {
            height: 135px;
          }
        }

        &--lg {
          height: 178px;

          @include max-screen(xxl) {
            height: 145px;
          }
          @include max-screen(lg) {
            height: 103px;
          }
          @include max-screen(xs) {
            height: 70px;
          }

          .tower__col {
            margin: 0 1px;
          }

          .tower__col img {
            @include max-screen(xxl) {
              border-radius: 30px;
            }
            @include max-screen(lg) {
              border-radius: 25px;
            }
            @include max-screen(xs) {
              border-radius: 11px;
            }
          }
        }

        &--md {
          height: 87px;

          @include max-screen(xxl) {
            height: 73px;
          }
          @include max-screen(xl) {
            height: 71px;
          }
          @include max-screen(lg) {
            height: 58px;
          }
          @include max-screen(sm) {
            height: 35px;
          }
          @include max-screen(xs) {
            height: 30px;
          }

          .tower__col img{
            border-radius: 15px;

            @include max-screen(xs) {
              border-radius: 7px;
            }
          }

          .tower-block__point {
            width: 37px;
            height: 37px;

            span {
              width: 29px;
              height: 29px;
              border-width: 4px;
            }
          }
        }

        &--sm {
          height: 45px;


          @include max-screen(xxl) {
            height: 36px;
          }
          @include max-screen(lg) {
            height: 26px;
          }
          @include max-screen(xs) {
          //  height: 17px;
            height: 30px;
            flex-wrap: wrap;
          }

          .tower__col {
            @include max-screen(xs) {
              width: 12.5%;
            }
          }

          .tower__col img {
            border-radius: 10px;

            @include max-screen(lg) {
              border-radius: 4px;
            }
          }

          .tower-block__point {
            width: 17px;
            height: 17px;

            span {
              width: 11px;
              height: 11px;
              border-width: 2px;
            }
          }
        }

        &--xs {
          flex-wrap: wrap;
          justify-content: center;



          .tower__col {
            width: 3.1%;
            height: 21px;

            @include max-screen(xxl) {
              height: 18px;
            }
            @include max-screen(lg) {
              height: 14px;
            }
            @include max-screen(xs) {
              height: 10px;
            }
          }

          .tower__col img{
            border-radius: 5px;
            @include max-screen(xs) {
              border-radius: 2px;
            }
          }

          .tower-block__point {
            width: 17px;
            height: 17px;

            span {
              width: 11px;
              height: 11px;
              border-width: 2px;
            }
          }
        }
      }

      &__col {
        height: 100%;

        position: relative;
        width: 100%;
        @include align-justify-center;
        cursor: pointer;

        &.owner {
          .tower__col-cover {
            border: 4px solid rgba(228, 190, 52, 0.9);

            @include max-screen(xs) {
              border-width: 3px;
            }
          }
        }
        &.ownerSm {
          .tower__col-cover {
            border: 3px solid rgba(228, 190, 52, 0.9);

            @include max-screen(xs) {
              border-width: 2px;
            }
          }
        }


        &-image {
          opacity: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 45px;
          border: 0;

          @include max-screen(xs) {
            border-radius: 18px;
          }
        }

        &--big {
          width: 100%;
        }
      }

      &__block-cover {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        @include align-justify-center;

      }
    }

  }
}

.tower-top {
  position: absolute;
  top: -13px;
  margin: auto;
  left: 38px;
  width: 95%;
  right: 0;

  @include max-screen(xxl) {
    left: 32px;

  }
  @include max-screen(lg) {
    left: 23px;

  }
  @include max-screen(xs) {
    left: 13px;

  }
}

.tower-bottom {
  position: absolute;
  bottom: 0;
  width: 105%;
  left: 0px;
  z-index: 3;

  @include max-screen(sm) {
    width: 104%;
    height: 130px;
  }

  .desktop {
    @include max-screen(sm) {
      display: none;
    }
  }

  .mobile {
    display: none;

    @include max-screen(sm) {
      display: block;
    }
    @include max-screen(md) {
      //   display: none;
    }
  }
}

.tower-block {
  position: absolute;
  background: url("assets/img/tower-opened-bg.png") no-repeat;
  background-size: 100% 100%;
  z-index: 100;
  width: 280px;
  padding: 30px 40px;
  bottom: 50%;
  left: 50%;
  display: none;



  &.active {
    display: block !important;
    animation: none;
 //   animation: fadein 0.1s;
  }

  @include max-screen(xs) {
    width: 175px;
    padding: 15px 20px;
  }

  .timer {
    margin-top: 7px;
    margin-bottom: 17px;
  }


  &__img {
    max-width: 200px;
    height: auto;
    border-radius: 30px !important;
    overflow: hidden;
    margin-bottom: 15px;

    @include max-screen(xs) {
      width: 100%;
      height: auto;
    }

    img {
      object-fit: unset;
    }
  }

  .view-on {
    margin-left: 0;
    padding: 0;
  }

  &__title {
    font-size: 14px;
    line-height: 18px;
    color: #9B8360;
    margin-top: 10px;

    @include max-screen(xs) {
      font-size: 12px;
    }
  }

  &__text {
    line-height: 23px;
    color: #503614;
    margin-bottom: 4px;
    word-break: break-all;

    @include max-screen(xs) {
      font-size: 14px;
    }
  }

  .page-btn {
    font-size: 15px;
    margin-top: 13px;

    @include max-screen(xs) {
      width: 100%;
      font-size: 10px;
      height: 40px;
    }
  }

  &__point {
    width: 57px;
    height: 57px;
    background: linear-gradient(250.68deg, #D04F56 6.6%, #AB3034 96.33%);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    @include align-justify-center;

    @include max-screen(xs) {
      width: 37px;
      height: 37px;
    }

    span {
      background: linear-gradient(250.68deg, #D04F56 6.6%, #AB3034 96.33%);
      border: 5px solid #FFFFFF;
      width: 49px;
      height: 49px;
      display: block;
      border-radius: 50%;

      @include max-screen(xs) {
        width: 29px;
        height: 29px;
        border-width: 3px;
      }
    }
  }

  &.change {
    .tower-block__point {
      left: unset;
      right: 0;
      transform: translate(50%, 50%);
    }
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


/* scroll styles */

.scroll-area {
  height: 360px;
  overflow-y: auto;
}

.ps .ps__rail-y:focus {
  background: none!important;
}

.ps__rail-y, .ps__rail-x {
  width: 10px !important;
//  background: linear-gradient(90deg, rgba(80, 54, 20, 0) 0%, #503614 12.61%, #503614 88.8%, rgba(80, 54, 20, 0) 100.88%);
  border-left: 1px solid #503614;
  cursor: pointer !important;

  &:hover {
    background-color: transparent !important;
  }

}

.ps__thumb-y, .ps__thumb-x {
  background: #503614 !important;
  border-radius: 4px;
  width: 11px !important;
  height: 95px;
  right: 4px !important;
  cursor: pointer !important;

  &:after {
    content: "";
    position: absolute;
    background: url("assets/img/svg/scroll-img.svg") no-repeat;
    width: 5px;
    height: 16px;
    background-size: 100% 100%;
    background-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


.scroll-down {
  position: fixed;
 /* top: 0;
  */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
 // transform: translate(-50%, -60%);
  @include align-column-center;
  cursor: pointer;
  z-index: 100;

  &__top {
   background: linear-gradient(250.68deg, rgba(208, 79, 86, 0.7) 6.6%, rgba(171, 48, 52, 0.7) 96.33%);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    @include align-justify-center;

    @include max-screen(sm) {
      width: 45px;
      height: 45px;
    }
  }

  &__icon {
    background: linear-gradient(250.68deg, #D04F56 6.6%, #AB3034 96.33%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    @include align-column-center;

    @include max-screen(sm) {
      width: 35px;
      height: 35px;
    }
  }

  &__text {
    background: url("assets/img/scroll-down-bg.png") no-repeat;
    width: 150px;
    height: 30px;
    @include align-justify-center;
    background-size: 100% 100%;
    margin-top: 10px;
    font-family: $base-font;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;

    @include max-screen(sm) {
      width: 120px;
      height: 25px;
      font-size: 11px;
    }
  }
}

.scroll_arrows {
  display: block;
  background: url("assets/img/svg/scroll-img.svg") no-repeat;


  width: 22px;
  height: 12px;

  @include max-screen(sm) {
    width: 11px;
    height: 7px;
    background-size: 100%;
  }


  + .scroll_arrows {
    margin-top: -2px;
  }
}

.one, .two, .three
{
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;

}

.one
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.two
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;

  animation-delay: .2s;
  animation-direction: alternate;

}

.three
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;

  animation-delay: .3s;
  animation-direction: alternate;
}
